body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background: linear-gradient(270deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff);
  background-size: 1400% 1400%;
  animation: rainbow 10s ease infinite;
  text-align: center;
  width: 500px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  padding: 30px;
  border-radius: 15px;
}
@keyframes rainbow {
  0%, 100% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
}


h1 {
  color: #333;
  margin-bottom: 30px;
}


input[type="text"] {
  width: 70%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  transition: border-bottom 0.3s;
}


input[type="text"]:focus {
  border-bottom: 2px solid #ff5252;
}


button {
  padding: 10px 20px;
  border: none;
  background-color: #ff5252;
  border-radius: 3px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: sway 2s infinite ease-in-out;
}

button:hover {
  background-color: #82415e;
}

.mb-3{
  font-size: 32px;
  color: black; /* 文字の色 */
            -webkit-text-stroke: 0.5px white; /* 文字の縁取り */
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 40px 0 15px;
}
h1{
  font-size: 32px;
  color: black; /* 文字の色 */
            -webkit-text-stroke: 0.5px white; /* 文字の縁取り */
}

li {
  background-color: #f5f5f5;
  padding: 18px 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.lightning {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  animation: flash 3s infinite;
}

@keyframes flash {
  0%, 20%, 40%, 60%, 80%, 100% {
      opacity: 0;
  }
  10%, 30%, 50%, 70%, 90% {
      opacity: 1;
  }
}

@keyframes sway {
  0%, 100% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(10000deg);
  }
}

li form {
  display: inline;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  cursor: pointer;
}
.valid-move {
  background-color: yellow;
}

.black {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 50%;
}

.white {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 50%;
  border: 1px solid black;
}
