body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background: linear-gradient(270deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff);
  background-size: 1400% 1400%;
  animation: rainbow 10s ease infinite;
  text-align: center;
  width: 500px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  padding: 30px;
  border-radius: 15px;
}
@keyframes rainbow {
  0%, 100% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
}


h1 {
  color: #333;
  margin-bottom: 30px;
}


input[type="text"] {
  width: 70%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  transition: border-bottom 0.3s;
}


input[type="text"]:focus {
  border-bottom: 2px solid #ff5252;
}


button {
  padding: 10px 20px;
  border: none;
  background-color: #ff5252;
  border-radius: 3px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #82415e;
}


ul {
  list-style: none;
  padding-left: 0;
  margin: 40px 0 15px;
}


li {
  background-color: #f5f5f5;
  padding: 18px 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #228B22; /* 草の色 */
  border-radius: 5px;
  animation: sway 2s infinite ease-in-out;
}

@keyframes sway {
  0%, 100% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(360deg);
  }
}

li form {
  display: inline;
}


